//VARIABLES

//Fuentes
$fuente_principal : 'Raleway', sans-serif;

//colores
$principal:#33c3f0;
$secundario: #741d51;
$terciario: #e44e52; 
$blanco:#ffffff;
$gris: #e1e1e1;
$negro: #000000;

//Variables para los tamaños de Media Queries

$telefono: 501px;
$tablet:740px;
$desktop:1024px;
